
  <table class="table table-striped table-dark" id="tbl"></table>
<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Made By :
    <a href="https://github.com/Ramppu?tab=repositories" target="_blank">Rasmus Karjalainen</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
